<header>
  <form action="<%= transactions_path %>" data-turbo-frame="transactions" data-turbo-action="replace">
    <input name="search" type="search">
    <button>
      Search
    </button>
  </form>
</header>
<h1>Transactions</h1>
<%= render partial: "table", locals: { transactions: transactions } %>
